.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}
.brdr{
  border: 2px solid black;
  height: 400px;
  width: 400px;
  padding: 10px;
}

.top-row{
  display: flex;
  justify-content: space-between;
}
.display{
  text-align: right;
  width: 77%;
  font-size: 35px;
  background-color: aqua;
  padding: 0px 5px 0px 5px;
}
.clr{
  height: 50px;
  width: 18%;
}

.numbers{
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.num{
  height: 60px;
  width: 23%;
  margin-bottom: 10px;
}
.equal{
  width: 100%;
}



